.Profil__full {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Profil__main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 2em 0;
  font-size: 0.75em;
}

.Profil__avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.Profil__logout {
  font-weight: 200;
  cursor: pointer;
}

.Profil__logout:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}

.Profil__container {
  max-width: calc(6*8.1em);
  font-weight: 200;
  padding: 3em 0 0px 0;
}

.Profil__activities {
  display: inline-block;
  width: 7em;
  height: 5em;
  margin: .45em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  text-transform: capitalize;
}

.Profil__activities:hover {
  opacity: .75;
}

.Profil__containerTitle {
  color: rgba(214, 137, 16, 1);
  padding: 0 0 2em 2em;
  letter-spacing: 2.7px;
  text-align: left;
  font-style: italic;
  font-size: .9em;
}

.Drawer__main {
  display: inline-flex;
  width: 100%;
}

.Drawer__title {
  font-weight: 200;
  margin-right: 1em;
  opacity: .5;
  letter-spacing: 2px;
}

.Drawer__editable {
 display: inline-flex;
 width: auto;
 margin: .5em;
 padding: 0 2em 0 0;
}

.Drawer__editableContainer {
  max-width: 100%;
  display: inline-flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 2em;
}

.Drawer__inputNumber {
  background-color: transparent;
  width: 60px;
  height: 22px;
}

.Drawer__inputText {
  background-color: transparent;
  height: 22px;
}

.Drawer__editableTitle {
  margin-right: 1em;
  opacity: .5;
  letter-spacing: 2px;
}

@media screen and (min-width: 1000px) {
  .Profil__main {
    max-width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .Profil__main {
    max-width: 80%;
  }
}

@media screen and (min-width: 1600px) {
  .Profil__main {
    max-width: 70%;
  }
}