.Profil__full {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Profil__main {
  max-width: 1200px;
  width: calc(100% - 2em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 2em 0;
  font-size: 0.75em;
}

.Profil__avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.Profil__logout {
  font-weight: 200;
  cursor: pointer;
}

.Profil__logout:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}

.Profil__container {
  max-width: calc(6*8.1em);
  font-weight: 200;
  padding: 3em 0 0px 0;
}

.Profil__activities {
  display: inline-block;
  width: 7em;
  height: 5em;
  margin: .45em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  text-transform: capitalize;
}

.Profil__activities:hover {
  opacity: .75;
  text-decoration: underline;
}

.Profil__containerTitle {
  color: rgba(214, 137, 16, 1);
  padding: 0 0 2em 4em;
  letter-spacing: 2.7px;
  text-align: left;
  font-style: italic;
  font-size: .9em;
}