.Activity__item {
  width: 5em;
  margin: 1em;
  display: inline;
}

.Activity__text {
  padding-top: 1.5em;
  font-size: 0.5em;
}

.Activity__textdisabled {
  color: #282c34;
}

.Activity__doneContainer {
  position: absolute;
  width: 5em;
  height: 5em;
  background-color: rgba(40, 44, 52, 0.9);
}

.Dailies__full:nth-child(even) .Activity__doneContainer {
  background-color: rgba(67, 70, 77, 0.9);
}

.Activity__done {
  position: relative;
  top: -10px;
  color: green;
  font-size: 2.6em;
}

.Activity__freeze {
  position: relative;
  top: -1em;
  left: 2em;
  opacity: .5;
  z-index: 10;
}

.Dailies__full:nth-child(even) .Activity__actionContainerHover:hover {
  background-color: rgba(67, 70, 77, 0.75);
}

.Activity__optional {
  position: absolute;
  display: flex;
  width: 5em;
  height: 5em;
  background-color: rgba(40, 44, 52, 0.75);
}

.Dailies__full:nth-child(even) .Activity__optional {
  background-color: rgba(67, 70, 77, 0.75);
}

.Activity__actionContainer {
  position: absolute;
  display: flex;
  width: 5em;
  height: 3.7em;
  cursor: pointer;
}

.Activity__actionContainerHover:hover {
  background-color: rgba(40, 44, 52, 0.75);
}

.Activity__action {
  display: none;
  width: 100%;
  padding: 10px;
  margin: auto;
  position: relative;
  top: -10px;
  color: white;
  font-size: 1.7em;
}

.Activity__action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.Activity__fullDrawerButton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Activity__drawerButton {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Activity__drawerActionButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.transparentWhite {
  color: rgba(255, 255, 255, .25);
}

.gold {
  color: #D68910;
  text-shadow: 2px 2px rgba(214, 137, 16, .25);
}