.Stats__full {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Stats__title {
  justify-content: center;
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.2);
  margin: 0 0 5em 0;
  font-weight: 200;
  letter-spacing: 2.7px;
}

.Stats__main {
  width: 85%;
}