.Menu__float {
	position:fixed;
	width: 1.7em;
	height: 1.65em;
	top:1em;
	right:1em;
	border: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .75);
	border-radius:50px;
	text-align:center;
	z-index: 10;
}

.Menu__background {
	background-color: rgba(255, 255, 255, .25);
}

.Menu__float:hover {
	border: 1px solid rgba(40, 44, 52, .5);
    color: rgba(40, 44, 52, .75);
}

.Menu__icon {
	font-size: .9em;
}
