.Menu__floating {
	position: fixed;
	width: 3em;
	top: 1.2em;
	right: 1.2em;
	z-index: 1;
  }

.FloatButton__float {
	float: right;
	text-align: center;
	width: 1.7em;
	height: 1.65em;
	top:1em;
	right:1em;
	border: 1px solid rgba(40, 44, 52, .5);
    color: rgba(255, 255, 255, .75);
	border-radius:50px;
	margin-bottom: .5em;
	z-index: 10;
	opacity: .6;
}

.FloatButton__float:hover {
	opacity: 1;
}

.FloatButton__background {
	background-color: rgba(255, 255, 255, .25);
}

.FloatButton__background:hover {
	border: 1px solid rgba(255, 255, 255, .5);
	opacity: 1;
}

.FloatButton__icon {
	position: relative;
	font-size: .9em;
	top: -.1em;
	filter: grayscale(100%);
}

.FloatButton__close {
	font-size: .9em;
}

