.Dailies__full {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dailies__date {
  justify-content: center;
  font-size: 0.5em;
  color: rgba(255, 255, 255, 1);
  margin: 0 0 2.5em 0;
  font-weight: 200;
  letter-spacing: 2.7px;
  font-size: .65em;
  color: rgba(214, 137, 16, 1);
}

.Dailies__full:nth-child(even) {
  background: #43464d;
}

.dailies__main {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 1em 0;
}


@media screen and (min-width: 1000px) {
  .dailies__main {
    max-width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .dailies__main {
    max-width: 80%;
  }
}

@media screen and (min-width: 1600px) {
  .dailies__main {
    max-width: 70%;
  }
}