.dailies__main {
    max-width: 100%;
    display: flex;     
    flex-wrap: wrap; 
    justify-content: center;
}

.dailies__item {
    width: 5em;
    height: 5.2em;
    padding: 0.5em;
    margin: 1em;
    display: inline;
    //border: 2px solid red;
}

.dailies__text {
    padding-top: 1em;
    font-size: .4em;
}

.dailies__textdisabled {
  color: #555;
}

.spinner {
    min-height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

.loader {
    height: 40vmin;
    pointer-events: none;
    border: 1px solid #333;
  }

  @media (prefers-reduced-motion: no-preference) {
    .loader {
      animation: App-logo-spin infinite 5s linear;
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }