.Dailies__full {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
} 

.dailies__date {
  max-width: 960px;
  justify-content: center;
  font-size: .5em;
  color: rgba(255,255,255,0.2);
  margin: 0 0 1em 0;
  font-style: italic;
}

.Dailies__full:nth-child(even) {
  background: #43464D;
}

.dailies__main {
  max-width: 960px;
  display: flex;     
  flex-wrap: wrap; 
  justify-content: center;
  border: 2px solid green;
}

.spinner {
    min-height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

.loader {
    height: 40vmin;
    pointer-events: none;
    border: 1px solid #333;
  }

  @media (prefers-reduced-motion: no-preference) {
    .loader {
      animation: logo-spin infinite 5s linear;
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }