
.Streak__Main {
    position: absolute;
    text-align: center;
    top: -1em;
    right: -1em;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 2px;
    font-size: .75em;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, .75);
    background-color: rgba(214, 137, 16, 0.75);
    border-radius: 25px;
}