@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App__header {
	font-size: min(calc(7px + 2vmin), 25px);
  color: white;
}

.App__main {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.ant-drawer-content, .ant-drawer-header {
  background-color: #282c34; /* 282c34 vs 43464D */
  border-bottom: 1px solid #43464D;
  color: #fff !important;
}

.anticon-close, .ant-drawer-title {
  color: #fff;
}