
.daily__item {
    width: 5em;
    margin: 1em;
    display: inline;
}

.daily__text {
    padding-top: 1.5em;
    font-size: .5em;
}

.daily__textdisabled {
  color: #282c34;
}

.daily__doneContainer {
  position: absolute;
  width: 5em;
  height: 3.9em;
  background-color: rgba(40, 44, 52, 0.75);
}

.daily__done {
  position: relative;
  top: -10px;
  color: green;
  font-size: 2.6em;
}

.daily__actionContainer {
  position: absolute;
  display: flex;
  width: 5em;
  height: 3.9em;
}

.daily__actionContainerHover:hover {
  background-color: rgba(40, 44, 52, 0.75);
}

.daily__optional {
    position: absolute;
    display: flex;
    width: 5em;
    height: 5em;
    background-color: rgba(40, 44, 52, 0.75);
  }

.daily__action {
  display: none;
  width: 100%;
  padding: 10px;
  margin: auto;
  position: relative;
  top: -10px;
  color: white;
  font-size: 1.7em;
}

.daily__action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}