.ObstacleButton__float {
    float: right;
    text-align: right;
    width: 1.7em;
    height: 1.65em;
    border: 1px solid rgba(40, 44, 52, .5);
    color: rgba(255, 255, 255, .45);
    border-radius: 50px;
    margin-bottom: .5em;
    padding-right: .3em;
    z-index: 10;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .15);
    transition: background-color .2s linear, width .2s linear, color .2s linear, opacity .2s linear, border .2s linear;
}

.ObstacleButton__close:hover {
    border: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .75);
    background-color: rgba(255, 255, 255, .25);
}

.ObstacleButton__open {
    width: 6.7em;
    background-color: rgba(255, 255, 255, .9);
    color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(110, 15, 28, .2);
}

.ObstacleButton__element {
    display: inline-block;
    position: relative;
    top: -.12em;
    left: -.25em;
    padding: 0 0.25em 0 0.2em;
}

.ObstacleButton__elementGray {
    filter: grayscale(1);
}

.ObstacleButton__elementGray:hover {
    filter: grayscale(0);
}

.ObstacleButton__separator {
    display: inline-block;
    position: relative;
    top: -.05em;
    left: -.1em;
    font-size: 1em;
    color: rgba(0, 0, 0, .25);
}

.ObstacleButton__logo {
    height: 1em;
}

.ObstacleButton__logoSofa {
    height: .9em;
}

.ObstacleButton__snowflake {
    position: relative;
    top: -.1em;
    height: 1em;
}

.gray {
    filter: grayscale(100%);
}